<h4>Upload pictures</h4>

<%= direct_upload_form_for @uploader do |f| %>
  <p><%= f.file_field :pict_file %></p>
  <p><%= f.submit "Upload image" %></p>

<% end %>

<table>
  <tr>
    <th>Pict file</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.pict_file_url %></td>
    <td><%= link_to 'Show', picture %></td>
    <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
    <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New Picture', new_picture_path %>


